/* Page Layout */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a, button {
    cursor: pointer;
}


/* Header */


.header{
  width: 100vw;
  display: flex;
  justify-content: center;
  color: #f9faf8;
  background-color: #1f2937;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75rem;
}

.logo{
  font-weight: 800;
  font-size: 24px;
}

.links{
 list-style-type: none;
 display: flex;
}

li {
 padding: 0px 10px;
}